h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: green;
    font-style: italic;
    text-align: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
ol {
    line-height: 40px;
}